@using Blog0190.Models.Sinifler
@model List<Blog>
@{
    Layout = null;
}

<!-- Kenar Blog List -->
<!------Enumeruble Legv olundu------>
<div class="mb-5">
    <h4 class="text-uppercase mb-4" style="letter-spacing: 5px;">Bloglar</h4>
    <div class="bg-white" style="padding: 30px;">
        <ul class="list-inline m-0">
            @foreach (var x in Model)
            {
                <b>
                <li class="mb-3 d-flex justify-content-between align-items-center">
                    <a class="text-dark" href="/Site/BlogDetay/@x.BlogID">
                        @x.TextName
                    </a>
                </li>
                <hr />
                </b>
            }
        </ul>
    </div>
</div>
