@using Blog0190.Models.Sinifler
@model List<Blog>

<div class="col-lg-8">
    <div class="row pb-3">
        <div class="text-center mb-3 pb-3" style="padding-left:250px;">
            <h1 class="text-primary text-uppercase" style="letter-spacing: 5px;">Home Page</h1>
            
        </div>
        <!------------>
        @foreach (var x in Model)
        {
            <div class="col-md-6 mb-4 pb-2">
                <div class="blog-item">
                    <div class="position-relative">
                        <img class="img-fluid w-100" src="@x.Image" alt="">
                        
                    </div>
                    <div class="bg-white p-4">
                        <div class="d-flex mb-2">
                            <a class="text-primary text-uppercase text-decoration-none" href="/Site/BlogDetay/@x.BlogID">@x.TextName</a>
                            <span class="text-primary px-2">|</span>
                            <p class="text-primary text-uppercase text-decoration-none">@x.Date.ToString("dd.MM.yyyy")</p>
                        </div>
                        <p class="h5 m-0 text-decoration-none" href="">@x.Text.Substring(0,100)</p>
                    </div>
                </div>
            </div>
        }
        <!------------>
        <!------------>
    </div>
</div>
