<div class="mb-5">
    <h4 class="text-uppercase mb-4" style="letter-spacing: 5px;">Pages</h4>
    <div class="d-flex flex-wrap m-n1">
        <a href="/Site/Home/" class="btn btn-light m-1">Home</a>
        <a href="/Site/About/" class="btn btn-light m-1">About</a>
        <a href="/Site/Blog/" class="btn btn-light m-1">Blog</a>
        <a href="/Site/Foto/" class="btn btn-light m-1">Foto</a>
        <a href="/Site/Lesson/" class="btn btn-light m-1">Lesson</a>
        <a href="/Site/Service/" class="btn btn-light m-1">Services</a>
        <a href="/Site/Contact/" class="btn btn-light m-1">Contact</a>
        <a href="/Admin/Blog/" class="btn btn-light m-1">login</a>
    </div>
</div>
