@using Blog0190.Models.Sinifler
@model List<Admin>
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Admin Siyahisi</h2>
<br />
<table class="table table-bordered">

    <tr>
        <th>Id</th>
        <th>User</th>
        <th>Password</th>
        <th>Sil</th>
        <th>Yenile</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>

            <td>@x.ID</td>
            <td>@x.User</td>
            <td>@x.Password</td>
            <td><a href="/Admin/AdminSil/@x.ID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Admin/AdminGetir/@x.ID" class="btn btn-warning">Yenile</a></td>
        </tr>
    }

</table>
<a href="/Admin/YeniAdmin/" class="btn btn-primary">Yeni Admin </a>
<a href="@Url.Action("ExportPDFAdmin","Admin")" class="btn btn-primary">Pdf </a>

