@model Blog0190.Models.Sinifler.Foto
@{
    ViewBag.Title = "YeniFoto";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yeni Foto Yaratmag Ucun Panel</h2>
<br />
<form class="form-group" method="post">
    @Html.LabelFor(x => x.FotoUrl)
    @Html.TextAreaFor(x => x.FotoUrl, 10, 1, new { @class = "form-control" })
    <br />
    <button class="btn btn-primary">Foto Yarat</button>
</form>

